
*, *::before, *::after {
  box-sizing: border-box;
} 

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.left-col {
  background-color: #5200ff;
  color: white;
  text-align: center;
  position: relative;
}

.left-col::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(bg-ok.jpg);
  background-size: cover;
  background-position: 100%;
  opacity: .35;
}

.border {
  border: 2.7px solid	hsla(0, 0%, 96%, .8);
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: .5rem;
  padding: 1rem;
  border-radius: 4.6px;
  letter-spacing: 2px;
}

.schedule {
  font-size: 1.5rem;
  font-weight: bold;
  align-self: center;
}

.content {
  position: relative;
}

.left-col, .right-col {
  padding: 6.75rem 8vw;
}

h1 {
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: normal;
  font-size: 4rem;
  line-height: 1.2em;
}

p {
  font-size: 1.25rem; /*from 1.5*/
  font-weight: 500;
  margin-bottom: 0;
}

a {
  width: 85%;
  color: white;
  background: #5200ff;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 10px 19px;
  border-radius: 5px;
  border: none;
  text-decoration: none;
}

a:focus, a:hover {
  border: 3px solid grey;
  background-color: darkblue;
}

.wrapper {
  margin-bottom: 3rem;
}

ul {
  list-style-type: none;
}

.icon {
  padding: .5rem;
}

.location-icon {
  font-size: 1.8rem;
}


/*media querys*/
/*
@media only screen and (min-width: 770px) {
  .form {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2em;
  }
  
  button {
    width: auto;
    padding: 1em 2.5em;
  }
}

@media only screen and (min-width: 1260px) {
  body {
    display: flex;
  }
    .left-col, .right-col {
    flex-basis: 0;
    flex-grow: 1;
    height: 100vh;
    display: grid;
    place-items: center;
    }

    .left-col {
      text-align: right;
    }
  }
*/